@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #2d302d;
    color: #BFC4B1;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #BFC4B1;
    color: #2d302d;
  }
}
